{{set . "title" "Active"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Create Active</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
      <form action={{url "Active.Create"}} method="POST">
        {{with $field := field "active.Description" .}}
        <label class="control-label" for="{{$field.Id}}">描述</label>
        <input type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" required>
      </form>
      {{end}}

      <form action="/Active/Create" method="POST">
        <input type="text" name="description" /></br>
        <input type="submit" value="submit" />
      </form>
    </div>
  </div>
</div>

{{template "footer.html" .}}
